@font-face {
    font-family: Cocogoose_trial;
    src: url("../fonts/Cocogoose_trial.otf");
}

@font-face {
    font-family: coolvetica_rg;
    src: url("../fonts/coolvetica rg.ttf");
}

@font-face {
    font-family: Santanelli-PERSONAL-USE-ONLY-Medium;
    src: url("../fonts/Santanelli-PERSONAL-USE-ONLY-Medium.otf");
}

@font-face {
    font-family: good_times;
    src: url("../fonts/good times rg.ttf");
}

@font-face {
    font-family: fontastique;
    src: url("../fonts/fontastique.ttf");
}

@font-face {
    font-family: Odin_Rounded;
    src: url("../fonts/ Odin Rounded.otf");
}

body{
	background-color: #ecf0f5;
}

/* --------------------------------------*/
/* HEADER-BLOG --------------------------*/
/* --------------------------------------*/

/* COLORES 
#00c0ef
#63a4ca
#367faa
#4b94c0
#3c8dbc
#8ad1d5
#00a65a
#67e6ac
#f39c12
#dc8700
#aee0ea
*/
#header {
	color: white;
	background-color: #3c8dbc;/*rgb(39, 58, 97);*/
	box-shadow: 0px 3px 10px 0px #4d82fb;
}
	#header img {
		height: 60px;
	}
	#header a{
		color: white;
	}
#logStJohns {
	margin: 0px; padding: 0px;
	font-size: 17px;
	font-family: good_times;
	color: white;
}
#botonMenu {
	color: white;
}
	#botonMenu:hover {
		background-color: #4b94c0;
	}
/* --------------------------------------*/
/* HEADER-BLOG --------------------------*/
/* --------------------------------------*/

/* --------------------------------------*/
/* MENÚ ---------------------------------*/
/* --------------------------------------*/

#menu {
	font-family: coolvetica_rg;
	font-size: 16px;
	background-color: #ecf0f5;
}
	#menu a {
		color: black;
	}
	#menu a:hover {
		/*background-color: #aee0ea;*/
	}
	#menu i {
		color: #FF7043;/*#dc8700;*/
	}

		.sidebar-menu>li>a {
			padding: 12px 5px 12px 15px;
			position: relative;
			z-index: 1;
			transition: .35s ease color;
		}
		.sidebar-menu>li>a::before {
			content: '';
			display: block;
			z-index: -1;
			position: absolute;
			left: -100%; top: 0;
			width: 100%; height: 100%;
			border-right: solid 5px #4b94c0 ;
			background: #aee0ea ;
			transition: .35s ease left;
		}
		.sidebar-menu>li>a:hover::before {
			left: -2%;
			width: 102%;
		}

		.sidebar-menu .treeview-menu>li>a {
			padding: 12px 5px 12px 15px;
			position: relative;
			z-index: 1;
			transition: .35s ease color;
		}
		.sidebar-menu .treeview-menu>li>a::before {
			content: '';
			display: block;
			z-index: -1;
			position: absolute;
			left: -100%; top: 0;
			width: 100%; height: 100%;
			border-right: solid 5px #4b94c0 ;
			background: #aee0ea ;
			transition: .35s ease left;
		}
		.sidebar-menu .treeview-menu>li>a:hover::before {
			left: -2%;
			width: 102%;
		}

		.form-control:hover {
			border-color: #4b94c0 ;
		}

		.form-control:focus {
			outline:solid 1px #157D0A ;
			border: none;
		}

		.table-bordered>tbody>tr>td { 
			word-break: break-word;             
			border-right: none;
			border-left: none; 
		}

		[v-cloak] {
			display: none;
		}
/* --------------------------------------*/
/* MENÚ ---------------------------------*/
/* --------------------------------------*/

/* --------------------------------------*/
/* INICIO -------------------------------*/
/* --------------------------------------*/

.page-header, #sliderInicio {
	padding: 0px;
	margin: 0px;
}
#seccionNoticias {
	margin-right: 10%;
	margin-left: 10%;
	font-family: Century Gothic;
}
	#seccionNoticias a, p, h1, h2, h3, h4, h5{
		font-family: Century Gothic;
	}
#seccionNoticias img {
	width: 100%;
	height: 180px;
}
.carpeta {
	cursor: pointer;
}
#sliderInicio {
	height: 300px;
	position: relative;
}
	#sliderInicio img {
		width: 100%;
		height: 100%;
		box-shadow: 10px 25px 30px 5px #b5b1b1;
		border-radius: 0px 0px 3px 3px;
	}
	#sloganStJohns {
		position: absolute;
		top: 200px;
		right: 20px;
		color: white;
		font-family: good_times;
	}

/* --------------------------------------*/
/* INICIO -------------------------------*/
/* --------------------------------------*/


/* --------------------------------------*/
/* ACERCA DE ----------------------------*/
/* --------------------------------------*/


/* --------------------------------------*/
/* ACERCA DE ----------------------------*/
/* --------------------------------------*/

/* --------------------------------------*/
/* BLOG ---------------------------------*/
/* --------------------------------------*/
#blog {
	font-family: Century Gothic;;
}

	#blog p, h1, h2, h3, h4, h5{
		font-family: Century Gothic;;
	}
.separador{
	margin-left: 5px;
}
#login {
	margin-left: auto;
	margin-right: auto;
}
#pictureOut {
	font-size: 30px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: relative;
	top: 10px;
}
#opcionesBlog {
	/*margin-top: 10%;*/
	margin-bottom: auto;
}
.panelOpcionesFont {
	font-size: 25px;
	color: #04598a
}
/*
.imagenContenidoBlog{
	width: 100% !important;
	height: 100% !important;
}
*/
.imagenContenidoBlog img{
	width: 70% !important;
	height: 90% !important;
}
/* --------------------------------------*/
/* BLOG ---------------------------------*/
/* --------------------------------------*/


/* --------------------------------------*/
/* CALENDARIO ---------------------------*/
/* --------------------------------------*/

.imgCalendario img{
	width: 100% !important;
	height: 100% !important;
}

.imgCalendarioAnual{
	width: 250px !important;
	height: 300px !important;
	margin-left: 5px;
}

.imgCalendarioMensual{
	width: 75% !important;
	height: 85% !important;
	margin-right: 5px;
}

.imgCalendarioMensual:hover, .imgCalendarioAnual:hover
{
	cursor: pointer;
}

.imgCalendarioMensual img{
	width: 100% !important;
	height: 90% !important;
}
.imgCalendarioAnual img{
	width: 100% !important;
	height: 85% !important;
}

/* --------------------------------------*/
/* CALENDARIO ---------------------------*/
/* --------------------------------------*/

/* --------------------------------------*/
/* NOTICIAS -----------------------------*/
/* --------------------------------------*/
#noticias {
    font-family: Century Gothic;
}
    #noticias h1, h2, h3, h4, h5 {
        font-family: Century Gothic;
    }
#noticiasLeft{
    /*width: 815px;*/
    float: left;
}
    .noticia{
        padding: 0px;
        margin: 0px;
        border-right: 3px solid #5f9ecc ;
        box-shadow: 1px 7px 10px 0px #8c8c8c ;
        border-radius: 5px 0px 0px 5px;
        margin-bottom: 20px;
    }
#noticiasRight{
    /*width: 255px;*/
    height: 900px;
    float: left;
}
.imgNoticias{
    padding: 0px;
    margin: 0px;    
}
    .imgNoticias img {
        width: 100%;/*350px;*/
        height: 300px;
        padding-bottom: 5px;
        border-radius: 5px;
    }
#mi_mapa{
    width: 100px;
    height: 100px;
}

/* --------------------------------------*/
/* NOTICIAS -----------------------------*/
/* --------------------------------------*/

/* --------------------------------------*/
/* CONTACTANOS --------------------------*/
/* --------------------------------------*/
#contacto input, textarea, button{
	margin-bottom: 10px;
}
.map-container {
	width: 100%;
	/*margin: 50px 0 3000px;*/
}
.map-container iframe{
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
	pointer-events: auto;
}

/* --------------------------------------*/
/* CONTACTANOS --------------------------*/
/* --------------------------------------*/

/* --------------------------------------*/
/* ST JOHNS EN EL MUNDO -----------------*/
/* --------------------------------------*/
#stJohnsMundo {
	font-family: Century Gothic;		
}
	#stJohnsMundo p, h1, h2, h3, h4, h5{
		font-family: Century Gothic;		
	}
	#stJohnsMundo button {
		margin-right: 5px;
	}
	#stJohnsMundo img {
		width: 100%;
		height: 130px;
		
		border-radius: 3px;

		filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
		filter: Gray(); /* IE4-8 and 9 */

		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	#stJohnsMundo img:hover { 
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);
		filter: none;

		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
.carpetaFotos {
	cursor: pointer;
}
#stJohnsMundo p {
	font-size: 21px;
	font-weight: bold;
}
#sliderStJohnsMundo i:hover, #sliderStJohnsMundo2 i:hover {
	cursor: pointer;
	color: #dc8700;
}
#sliderStJohnsMundo img {
	width: 100%;
	height: 130px;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
}
	#sliderFotos img{
		width: 100%;
		height: 450px;		
	}
/* --------------------------------------*/
/* ST JOHNS EN EL MUNDO -----------------*/
/* --------------------------------------*/

[v-cloak] { display: none },

/* --------------------------------------*/
/* REGLAMENTO ST JOHNS ------------------*/
/* --------------------------------------*/


/* --------------------------------------*/
/* REGLAMENTO ST JOHNS ------------------*/
/* --------------------------------------*/
